```apache

RewriteEngine On
RewriteBase /

RewriteRule ^(carstore|detailing)\.html$ /$1 [R=301,L,NC]

RewriteRule ^(O-Mnie|Umiejętności|Projekty|Kontakt)$ index.html [L,NC]

RewriteRule ^(carstore|detailing)$ $1.html [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.html [L]